<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <script src="http://cdn.hcharts.cn/highcharts/highcharts.js"></script>
        <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js"></script>
        <title>haha</title>
    </head>
    <body>
        <div id="detail">

        </div>
        <div id="rangeDetail">

        </div>
        <script>
        // 获取json数据


        jsom = $.getJSON('http://127.0.0.1:8888',).done(function(response) {
            //console.log(response); //here's your response
            //alert(typeof(response));
            console.log(response.responseText);
            return response.responseText;
                });

        console.log(jsom);
        //alert(typeof(jsom));

        time = json.date;
        console.log(time);
        time_list = [];
        for (var key in time) {
            //console.log("key=", key, " value=", bb[key]);
            time_list.push(time[key]);
        };
        // 开盘价列表
        open = json.open;
        var open_list = [];
        for (var key in open) {
            //console.log("key=", key, " value=", bb[key]);
            open_list.push(open[key]);
        };
        // 收盘价格列表
        close = json.close;
        var close_list = [];
        for (var key in close) {
            //console.log("key=", key, " value=", bb[key]);
            close_list.push(close[key]);
        };
        // 最高价格列表
        high = json.high;
        var high_list = [];
        for (var key in high) {
            //console.log("key=", key, " value=", bb[key]);
            high_list.push(high[key]);
        };
        // 最低价列表
        low = json.low;
        var low_list = [];
        for (var key in low) {
            //console.log("key=", key, " value=", bb[key]);
            low_list.push(low[key]);
        };

        // 成交量列表
        volume = json.volume;
        var volume_list = [];
        for (var key in volume) {
            //console.log("key=", key, " value=", bb[key]);
            volume_list.push(volume[key]);
        };



        // 股票代码
        stock_code = json.code;
        console.log(stock_code);
        var stock_code = stock_code[0];

        // 股票详情信息
        stock_detail = $.getJSON('static/data/detail.json',function(detail){
            // 股票名称
            stock_name = detail.name[stock_code]
            console.log(stock_name);
            stock_industry = detail.industry[stock_code];
            console.log(stock_industry);
        });
// 范围控制图像配置



        </script>
    </body>
</html>
